.add_listing_button {
    background: none;
    border: none;
    padding-top: 5px;
    font-family: arial, sans-serif;
    color: #484848;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    width: 150px;
    height: 40px;
}

.add_listing_button:hover {
    background-color: #c2bfbf;
}