.login_user_button {
    background: none;
    border: none;
    padding-top: 5px;
    font-family: arial, sans-serif;
    color: #484848;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    width: 90px;
}

.login_user_button:hover {
    background-color: #c2bfbf;
}

.form_modal_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.signup_form_modal_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.add_lising_form_modal_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
}

.edit_lising_form_modal_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
}

.add_review_form_modal_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.form_labels {
    margin-bottom: 10px;
}

.form_button {
    background-color: #FF5A5F;
    color: white;
    border-style: solid;
    border-color: rgb(229, 225, 225);
    border-radius: 10px;
    width: 150px;
    height: 25px;
}

.form_button:hover {
    background-color: #e7353b;
}

#add_review_input{
    width: 100px;
}